.form-container {
  width: 90%;
  max-width: 400px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 6px;
  background-color: #ecf0f1; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 8px;
}

label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}

input[type="text"],
input[type="email"],
select,
input[type="file"],
textarea {
  width: calc(100% - 6px);
  height: 26px;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff; 
  font-size: 12px;
  color: #333;
  border: none; /* Removed border */
}

button {
  padding: 6px 10px;
  background-color: #1abc9c; /* Red button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#1abc9c; /* Darker red on hover */
}

.error {
  font-size: 10px;
  margin-top: 1px;
}

.address-fields {
  gap: 3px;
}

.table-container {
  margin-top: 15px;
}

th,
td {
  padding: 6px;
}

.page-number {
  padding: 3px 6px;
  margin-right: 3px;
}

select {
  width: calc(100%);
  height: 26px;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  color: #333;
  border: none; /* Removed border */
}

.app-heading {
  color: #16a085; /* Green color */
  font-family: "Arial", sans-serif; /* Cool font */
  font-size: 36px; /* Cool font size */
  text-align: center; /* Center the heading */
  margin-top: 30px; /* Add margin at the top */
  margin-bottom: 40px; /* Add more margin at the bottom */
  position: relative; /* Required for pseudo-element */
}

.app-heading::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Positioning */
  left: 50%; /* Positioning */
  width: 80px; /* Width of the background */
  height: 5px; /* Height of the background */
  background-color: #000000; /* Black color */
  transform: translateX(-50%); /* Centering */
}
.address-fields {
  display: flex;
  gap: 10px; /* Increase the gap between fields */
}

input[name^="address"] {
  flex: 1; /* Make the input fields flexible to distribute space */
  margin-right: 10px; /* Add some margin to the right of each input field */
}

input[name^="address"]:last-child {
  margin-right: 0; /* Remove margin from the last input field */
}
